@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.body{
  font-family: 'Open Sans',sans-serif;
}
@mixin ani{
  padding: 10px 30px;
  background: #3A68B8;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  transition: .4s;
}
@keyframes ani {
   0%{
     transform: translateX(1400px);
   }
  100%{
    transform: translateX(0);
  }
}
@keyframes blc {
  0%{
    transform: translatex(-1400px);
  }
  100%{
    transform: translatex(0);
  }

}
@keyframes hed {
  0%{
    transform: translateY(-1400px);
  }
  100%{
    transform: translateY(0);
  }
  
}